[Unit]
Description=namegenerator
[Service]
TimeoutStartSec=0
ExecStart=/bin/java -jar /root/NameGenerator/build/libs/namegenerator-1.0.jar --server.port=5002
[Install]
WantedBy=multi-user.target
