<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenhongliang.namegenerator.mapper.CustomerInfoMapper">

    <insert id="insert" parameterType="CustomerInfoModel">
        insert into customer_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wechat != null and wechat != ''">wechat,</if>
            <if test="wechatMachine != null and wechatMachine != ''">wechat_machine,</if>
            <if test="salesman != null and salesman != ''">salesman,</if>
            <if test="birthday != null and birthday != ''">birthday,</if>
            <if test="visitDate != null and visitDate != ''">visit_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wechat != null and wechat != ''">#{wechat},</if>
            <if test="wechatMachine != null and wechatMachine != ''">#{wechatMachine},</if>
            <if test="salesman != null and salesman != ''">#{salesman},</if>
            <if test="birthday != null and birthday != ''">#{birthday},</if>
            <if test="visitDate != null and visitDate != ''">#{visitDate},</if>
        </trim>
    </insert>

    <select id="getList" resultType="CustomerInfoVo">
        select
            id,
            wechat,
            wechat_machine wechatMachine,
            salesman,
            visit_date visitDate
        from customer_info
        where visit_date &lt;= #{today}
            and del_flag = false
        order by visit_date
    </select>

    <update id="delete" parameterType="String">
        update customer_info
        set del_flag = true
        where id = #{id}
    </update>

    <select id="getVisitCnt" resultType="Integer">
        select
            count(*)
        from customer_info
        where visit_date = #{visitDate}
    </select>

</mapper>