<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenhongliang.namegenerator.mapper.SingleCharacterManageMapper">

    <select id="allAmount" resultType="Integer">
        select count(*)
        from single_character
        where del_flag = false
    </select>

    <select id="selectByCharacter" parameterType="String" resultType="SingleCharacterModel">
        select *
        from single_character
        where del_flag = false
            and `character` = #{character}
    </select>

    <update id="updateCharacter" parameterType="SingleCharacterManageForm">
        update single_character
        <set>
            pinyin = #{pinyin},
            meaning = #{meaning},
            wuxing = #{wuxing},
            idiom = #{idiom},
            poetry = #{poetry},
            male = #{male},
            female = #{female},
        </set>
        where `character` = #{character}
    </update>

    <update id="deleteCharacter" parameterType="String">
        update single_character
        set del_flag = true
        where `character` = #{character}
    </update>

    <select id="allCharacters" resultType="String">
        select `character`
        from single_character
        where del_flag = false
        order by id desc
    </select>

</mapper>